<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/driverLayout.css">
    <title>Carlos Sainz</title>
</head>

<body>
    <div class="container">
        <div class="driver-img">
            <img src="/static/img/sainz.webp" alt="">
        </div>
        <div class="container-2">
            <div class="helmet-merchandise">
                <div class="helmet-img">
                    <img src="/static/img/sainz-helmet.webp" alt="">
                </div>
                <div class="merchandise">
                    <a href="">official merchandise</a>
                    <a href="">official merchandise</a>
                </div>
            </div>


            <table class="table">
                <tr>
                    <td id="td-1">Team</td>
                    <td>Ferrari</td>
                </tr>
                <tr>
                    <td id="td-1">Country</td>
                    <td>Spain</td>
                </tr>
                <tr>
                    <td id="td-1">Podiums</td>
                    <td>192</td>
                </tr>
                <tr>
                    <td id="td-1">Points</td>
                    <td>4443.5</td>
                </tr>
                <tr>
                    <td id="td-1">Grands Prix entered</td>
                    <td>313</td>
                </tr>
                <tr>
                    <td id="td-1">World Championships</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td id="td-1">Highest race finish</td>
                    <td>1(x103)</td>
                </tr>
                <tr>
                    <td id="td-1">Highest grid position</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td id="td-1">Date of birth</td>
                    <td>07/01/1985</td>
                </tr>
                <tr>
                    <td id="td-1">Place of birth</td>
                    <td>Stevenage, England</td>
                </tr>
            </table>
        </div>
        <div class="driver-detail">
            <div class="driver-rank">
                <span>55</span> <img src="/static/img/Spain.webp" alt="">
            </div>
            <div class="driver-name">
                <p>Carlos Sainz</p>
            </div>
        </div>
    </div>
    <div class="biography">
        <h1>Biography</h1>
        <p>He’s the matador from Madrid racing royalty.</p>

        <p> entering F1’s Bull Ring paired alongside Max Verstappen at Toro Rosso in 2015, Sainz quickly showed his
            fighting spirit. A tenacious racer, he puts the car on the edge as he hustles his way through the pack. No
            wonder Sainz has earned the nickname Chilli.</p>

        <p> the Spaniard is intelligent as well as instinctive, thinking his way through a race and into the points.
            This calm temperament follows him off track where he remains unfazed by the pressures of forging a Grand
            Prix career with a famous name.</p>

        <p> Sainz is the son of double World Rally champion, also his namesake,is the son of double World Rally champion, also his namesake, and has brought some of Dad’s driving skills
            to the F1 circuit – junior loves a delicious dose of drift for one.</p>

        <p> following in his famous father’s tyre tracks, Sainz has had big racing boots to fill – first at McLaren
            where he replaced his childhood hero Fernando Alonso, and now at Ferrari, in the seat formerly owned by
            Sebastian Vettel.</p>

        <p> is never easy living in the shadow of sporting giants, but Sainz has shown the drive and disposition to deal
            with it, and in 2022 he took his maiden F1 win with victory at Silverstone. Vamos!</p>

    </div>
</body>

</html>