<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/driverLayout.css">
    <title>Kevin Magnussen</title>
</head>

<body>
    <div class="container">
        <div class="driver-img">
            <img src="/static/img/magnussen.webp" alt="">
        </div>
        <div class="container-2">
            <div class="helmet-merchandise">
                <div class="helmet-img">
                    <img src="/static/img/magnussen-helmet.webp" alt="">
                </div>
                <div class="merchandise">
                    <a href="">official merchandise</a>
                    <a href="">official merchandise</a>
                </div>
            </div>


            <table class="table">
                <tr>
                    <td id="td-1">Team</td>
                    <td>Haas</td>
                </tr>
                <tr>
                    <td id="td-1">Country</td>
                    <td>Denmark</td>
                </tr>
                <tr>
                    <td id="td-1">Podiums</td>
                    <td>192</td>
                </tr>
                <tr>
                    <td id="td-1">Points</td>
                    <td>4443.5</td>
                </tr>
                <tr>
                    <td id="td-1">Grands Prix entered</td>
                    <td>313</td>
                </tr>
                <tr>
                    <td id="td-1">World Championships</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td id="td-1">Highest race finish</td>
                    <td>1(x103)</td>
                </tr>
                <tr>
                    <td id="td-1">Highest grid position</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td id="td-1">Date of birth</td>
                    <td>07/01/1985</td>
                </tr>
                <tr>
                    <td id="td-1">Place of birth</td>
                    <td>Stevenage, England</td>
                </tr>
            </table>
        </div>
        <div class="driver-detail">
            <div class="driver-rank">
                <span>20</span> <img src="/static/img/Denmark.webp" alt="">
            </div>
            <div class="driver-name">
                <p>Kevin Magnussen</p>
            </div>
        </div>
    </div>
    <div class="biography">
        <h1>Biography</h1>
        <p>
            Call him a lone ranger or a maverick, but Magnussen is back in Formula 1 for one reason only – to race.

He may be a second-generation F1 driver – following his father, Jan, onto the grid – but Magnussen’s idols are from the ‘golden era’ of Grand Prix racing when the likes of Juan Manuel Fangio and Stirling Moss risked it all for the love of the sport.

The Roskilde racer’s own prowess was proven on debut for McLaren, who guided him through the junior ranks, when he cruised into the top-three at the 2014 Australian Grand Prix, becoming the first Dane to claim a podium in F1.



Other champagne moments were more difficult to find, as he left McLaren behind for a season with Renault, before settling in for four among kindred spirits at Haas. And after a year away in the States, racing Indy and sportscars among other things, he returned to the US team in 2022, securing their first-ever pole position at the Brazilian Grand Prix.

His meaty manoeuvres and elbows-out approach have earned him a bad-boy reputation on track, something that still leaves him baffled. Out of the car Magnussen is laidback and affable. After all he has his dream job – and he is only here to race.
        </p>
    </div>
</body>

</html>