<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/driverLayout.css">
    <title>Max Verstappen</title>
</head>

<body>
    <div class="container">
        <div class="driver-img">
            <img src="/static/img/verstappen.webp" alt="">
        </div>
        <div class="container-2">
            <div class="helmet-merchandise">
                <div class="helmet-img">
                    <img src="/static/img/verstappen-helmet.webp" alt="">
                </div>
                <div class="merchandise">
                    <a href="">official merchandise</a>
                    <a href="">official merchandise</a>
                </div>
            </div>


            <table class="table">
                <tr>
                    <td id="td-1">Team</td>
                    <td>Redbull</td>
                </tr>
                <tr>
                    <td id="td-1">Country</td>
                    <td>Netherlands</td>
                </tr>
                <tr>
                    <td id="td-1">Podiums</td>
                    <td>192</td>
                </tr>
                <tr>
                    <td id="td-1">Points</td>
                    <td>4443.5</td>
                </tr>
                <tr>
                    <td id="td-1">Grands Prix entered</td>
                    <td>313</td>
                </tr>
                <tr>
                    <td id="td-1">World Championships</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td id="td-1">Highest race finish</td>
                    <td>1(x103)</td>
                </tr>
                <tr>
                    <td id="td-1">Highest grid position</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td id="td-1">Date of birth</td>
                    <td>07/01/1985</td>
                </tr>
                <tr>
                    <td id="td-1">Place of birth</td>
                    <td>Stevenage, England</td>
                </tr>
            </table>
        </div>
        <div class="driver-detail">
            <div class="driver-rank">
                <span>1</span> <img src="/static/img/Netherlands.webp" alt="">
            </div>
            <div class="driver-name">
                <p>Max Verstappen</p>
            </div>
        </div>
    </div>
    <div class="biography">
        <h1>Biography</h1>
        <p>
            He’s Max by name, and max by nature.

Arriving as Formula 1’s youngest ever competitor at just 17 years old, Verstappen pushed his car, his rivals and the sport’s record books to the limit. The baby-faced Dutchman with the heart of a lion took the Toro Rosso – and then the Red Bull – by the horns with his instinctive racing style.

F1’s youngest points scorer soon became its youngest race winner – at the age of 18 years and 228 days – with an opportunistic but controlled drive on debut for Red Bull in Barcelona 2016. A true wheel-to-wheel racer, another stunning drive in Brazil from the back of the pack to the podium on a treacherous wet track kept the plaudits coming.

Verstappen’s no-holds-barred attitude and hard defending have sometimes landed him in hot water with his peers and paymasters. But the mistakes that initially marred his potential have given way to maturity, while the bravado and energy that make him a blockbuster talent have remained – and the victories have kept on coming.

They culminated in his first F1 drivers’ crown after that already legendary, final-round showdown with Lewis Hamilton in 2021. And he followed that up with a powerhouse title defence in 2022, winning a record 15 races across the season.

The son of former F1 driver Jos Verstappen and super-quick karting Mum Sophie Kumpen, racing runs through his genes. Despite moving out of Dad’s house to live in Monaco, Verstappen remains close to his family, and though he’s not afraid to speak his mind, he can still be surprisingly shy.

Having become the Netherlands' first world champion aged just 24, the expectations for the next generation’s leading light are sky high – but with Verstappen there’s a feeling that the sky’s the limit.
        </p>
    </div>
</body>

</html>