<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/driverLayout.css">
    <title>Valtteri Bottas</title>
</head>

<body>
    <div class="container">
        <div class="driver-img">
            <img src="/static/img/bottas.webp" alt="">
        </div>
        <div class="container-2">
            <div class="helmet-merchandise">
                <div class="helmet-img">
                    <img src="/static/img/bottas-helmet.webp" alt="">
                </div>
                <div class="merchandise">
                    <a href="">official merchandise</a>
                    <a href="">official merchandise</a>
                </div>
            </div>


            <table class="table">
                <tr>
                    <td id="td-1">Team</td>
                    <td>Alfa-Romeo</td>
                </tr>
                <tr>
                    <td id="td-1">Country</td>
                    <td>Finland</td>
                </tr>
                <tr>
                    <td id="td-1">Podiums</td>
                    <td>192</td>
                </tr>
                <tr>
                    <td id="td-1">Points</td>
                    <td>4443.5</td>
                </tr>
                <tr>
                    <td id="td-1">Grands Prix entered</td>
                    <td>313</td>
                </tr>
                <tr>
                    <td id="td-1">World Championships</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td id="td-1">Highest race finish</td>
                    <td>1(x103)</td>
                </tr>
                <tr>
                    <td id="td-1">Highest grid position</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td id="td-1">Date of birth</td>
                    <td>07/01/1985</td>
                </tr>
                <tr>
                    <td id="td-1">Place of birth</td>
                    <td>Stevenage, England</td>
                </tr>
            </table>
        </div>
        <div class="driver-detail">
            <div class="driver-rank">
                <span>77</span> <img src="/static/img/Finland.webp" alt="">
            </div>
            <div class="driver-name">
                <p>Valtteri Bottas</p>
            </div>
        </div>
    </div>
    <div class="biography">
        <h1>Biography</h1>
        <p>‘Still I Rise’ – these are the words emblazoned across the back of Lewis Hamilton’s helmet and tattooed
            across his shoulders, and ever since annihilating expectations with one of the greatest rookie performances
            in F1 history in 2007, that’s literally all he’s done: risen to the top of the all-time pole positions list
            ahead of his hero Ayrton Senna, surged into first place in the wins column surpassing the inimitable Michael
            Schumacher, and then matched the legendary German’s seven world titles.</p>
        <p>Is he the G.O.A.T? Few would deny that he’s in the conversation – and what’s more he’s got there his way,
            twinning his relentless speed with a refusal to conform to stereotypes for how a racing driver should think,
            dress or behave.</p>
        <p>Respect is hard earned in F1, but Hamilton – now Sir Lewis Hamilton to be precise – has it from every one of
            his peers. Why? Because they know that whatever the track, whatever the conditions, whatever the situation,
            when his visor goes down and the lights go out, it’s Hammertime.</p>
    </div>
</body>

</html>