{% extends 'layout.html' %}
{% block title %}Admin Constructors 2022{% endblock %}
{% block content %}

<body>

    <div class="container-fluid">
        
        <h2>Constructors 2022<button class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">Add
                Constructor </button></h2>

        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}


        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title text-primary" style="align-content: center;">Add New Constructor in 2022
                            table.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <div class="modal-body">

                        <form action='/admin/Constructors2022/insert' method="POST">
                            <div class="form-group">
                                <label>Team</label>
                                <input type="text" name="team" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Team Name">
                            </div>

                            <div class="form-group">
                                <label>Points</label>
                                <input type="number" name="points" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Points">
                            </div>

                            <div class="form-group">
                                <label>Podiums</label>
                                <input name="podiums" type="number" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Podiums">
                            </div>

                            <div class="form-group">
                                <label>Wins</label>
                                <input name="wins" type="number" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Wins">
                            </div>

                            <div class="form-group">
                                <label>Pole Positions</label>
                                <input name="pp" type="number" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Pole Positions">
                            </div>

                            <div class="form-group">
                                <label>Fastest Laps</label>
                                <input name="fl" type="number" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Fastest Laps">
                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Save</button>

                        </form>


                    </div>
                </div>
            </div>

        </div>



        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">SNo.</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col">Podiums</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Pole Positions</th>
                    <th scope="col">Fastest Laps</th>
                </tr>
            </thead>
            <tbody>
                {% for row in constructors2022 %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                    <td>{{row.5}}</td>
                    <td>
                        <a href="/admin/Constructors2022/update/{{row.0}}" class="btn btn-warning btn-sm"
                            data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                        <a href="/admin/Constructors2022/delete/{{ row.0 }}"
                            onclick="return confirm('Are Sure Want To Deleted ?')"
                            class="btn btn-danger btn-sm">Delete</a>

                    </td>
                </tr>


                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title text-primary" style="align-content: center;">Update
                                    Constructors2022 Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>


                            <div class="modal-body">

                                <form action='/admin/Constructors2022/update' method="POST">
                                    <input type="hidden" name="id" value="{{row.0}}">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Team</label>
                                            <input value="{{row.0}}" type="text" name="team" class="form-control"
                                                id="exampleFormControlInput1" placeholder="Enter Team">
                                        </div>

                                        <div class="form-group">
                                            <label>Points</label>
                                            <input value="{{row.1}}" type="number" name="points" class="form-control"
                                                id="exampleFormControlInput1" placeholder="Enter Points">
                                        </div>

                                        <div class="form-group">
                                            <label>Podiums</label>
                                            <input value="{{row.2}}" type="number" name="podiums" class="form-control"
                                                id="exampleFormControlInput1" placeholder="Enter Podiums">
                                        </div>

                                        <div class="form-group">
                                            <label>Wins</label>
                                            <input value="{{row.3}}" type="number" name="wins" class="form-control"
                                                id="exampleFormControlInput1" placeholder="Enter Wins">
                                        </div>

                                        <div class="form-group">
                                            <label>Pole Positions</label>
                                            <input value="{{row.4}}" type="number" name="pp" class="form-control"
                                                id="exampleFormControlInput1" placeholder="Enter Pole Positions">
                                        </div>

                                        <div class="form-group">
                                            <label>Fastest Laps</label>
                                            <input value="{{row.5}}" type="number" name="fl" class="form-control"
                                                id="exampleFormControlInput1" placeholder="Enter Fastest Laps">
                                        </div>

                                        <button type="submit" class="btn btn-success mb-2">Update</button>

                                </form>


                            </div>
                        </div>
                    </div>

                </div>


            




                {% endfor %}
            </tbody>

        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

{% endblock %}