{% extends 'layout.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<style>
    .admin-container{
        margin-left: 20% !important;
        width: 60vw;
        height: 50vw;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .admin-container a{
        margin-top: 2% ;
        color: black !important;
    }
</style>
<div class="admin-container">
    <a href="/admin/Drivers2018">Admin-Drivers-2018</a>
    <a href="/admin/Drivers2019">Admin-Drivers-2019</a>
    <a href="/admin/Drivers2020">Admin-Drivers-2020</a>
    <a href="/admin/Drivers2021">Admin-Drivers-2021</a>
    <a href="/admin/Drivers2022">Admin-Drivers-2022</a>
    <a href="/admin/Constructors2018">Admin-Constructors-2018</a>
    <a href="/admin/Constructors2019">Admin-Constructors-2019</a>
    <a href="/admin/Constructors2020">Admin-Constructors-2020</a>
    <a href="/admin/Constructors2021">Admin-Constructors-2021</a>
    <a href="/admin/Constructors2022">Admin-Constructors-2022</a>
    <a href="/admin/accounts">User Accounts</a>
</div>
{% endblock %}



    
    