<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Document</title>
</head>
<body>

    <a href="/" class="home-btn">
    <span class="material-symbols-outlined">
        home
        </span>
    </a>

    <div class="container">
        <h1>About</h1>
        <p>This website has used <span id="span-3">Flask</span> at server end.</p>
        <p><span id="span-2">MySQL</span> database is used to store and manage data.</p>
        <p>Admins can perform <span id="span-4">CRUD operations</span> in Admin panel.</p>
        <p>Admin panel has <span id="span-1">"session" authentication</span>at server end.</p>
        <p>Users has access to <span id="span-2">table format data</span> table format data without registration.</p>
        <p>Users has to register him/herself to <span id="span-4">access public APIs.</span></p>
        <p><span id="span-1">50 unique API endpoints</span> are exposed for users.</p>
        <p>APIs are served by Flask's <span id="span-2">Jsonify.</span></p>
        <p>Users authentication is managed by <span id="span-2">JWT Tokens</span> (client-side).</p>
        <p>Users passwords are <span id="span-4">encrypted</span> in SHA-256 algorithm and stored in database. Provides security in case of Token Hijacking.</p>
        <p>Admins has access to <span id="span-3">server logs</span> for monitering and further inspections.</p>

    </div>
    
</body>
</html>