<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Home - Formula 1</title>
</head>

<body>
  <nav class="navbar">
    <h1>Formula 1</h1>
    <div class="items">
      <a href="/api">Api</a>
      <a href="/about">About</a>
      <a href="/admin">Admin</a>
      <a href="/">Home</a>
    </div>
  </nav>

  <div class="welcome-msg">
    <p>Formula 1 stats aggregator</p>
  </div>

  <p class="show">CHOOSE YEAR</p>

  <div class="container">
    <div class="item-1">
      <button class="btn-1"> 2018 </button>

      <div class="item-2018">
        <a id='driver-2018' href="Drivers/Drivers2018">Drivers2018</a>
        <a id="constructor-2018" href="Constructors/Constructors2018">Constructors2018</a>
      </div>
    </div>

    <div class="item-2">
      <button class="btn-2">2019</button>
      <div class="item-2019">
        <a href="Drivers/Drivers2019">Drivers2019</a>
        <a href="Constructors/Constructors2019">Constructors2019</a>
      </div>
    </div>

    <div class="item-3">
      <button class="btn-3">2020</button>
      <div class="item-2020">
        <a href="Drivers/Drivers2020">Drivers2020</a>
        <a href="Constructors/Constructors2020">Constructors2020</a>
      </div>
    </div>

    <div class="item-4">
      <button class="btn-4">2021</button>
      <div class="item-2021">
        <a href="Drivers/Drivers2021">Drivers2021</a>
        <a href="Constructors/Constructors2021">Constructors2021</a>
      </div>
    </div>

    <div class="item-5">
      <button class="btn-5">2022</button>
      <div class="item-2022">
        <a href="Drivers/Drivers2022">Drivers2022</a>
        <a href="Constructors/Constructors2022">Constructors2022</a>
      </div>
    </div>
  </div>
<div class="container-2">
  <p class="api">Formula 1 Web API enbles the creation of various apps of your choice through exposed APIs. Checkout detailed documentation and you can follow the Getting started tutorial to learn how to make your first Web API call.</p>
  <a href="/api" id="api-btn">API</a>
</div>

<div class="footer">
  <div class="item-1">
    <a href="#">About</a>
    <a href="#">Support</a>
    <a href="#">Privacy</a>
    <a href="#">Terms and Condition</a>
  </div>
</div>
  <script src="/static/js/index.js"></script>

</body>

</html>